@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src:
    url("/src/styles/fonts/Inter/inter-regular.woff2") format("woff2"),
    url("/src/styles/fonts/Inter/inter-regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src:
    url("/src/styles/fonts/Inter/Inter-LightBETA.woff2") format("woff2"),
    url("/src/styles/fonts/Inter/Inter-LightBETA.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src:
    url("/src/styles/fonts/Inter/Inter-Medium.woff2") format("woff2"),
    url("/src/styles/fonts/Inter/Inter-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src:
    url("/src/styles/fonts/Inter/Inter-SemiBold.woff2") format("woff2"),
    url("/src/styles/fonts/Inter/Inter-SemiBold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src:
    url("/src/styles/fonts/Inter/inter-bold.woff2") format("woff2"),
    url("/src/styles/fonts/Inter/inter-bold.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-style: italic;
  font-weight: 400;
  src:
    url("/src/styles/fonts/Inter/inter-italic.woff2") format("woff2"),
    url("/src/styles/fonts/Inter/inter-italic.woff") format("woff");
}
@font-face {
  font-family: "Inter";
  font-weight: 300;
  font-style: italic;
  src:
    url("/src/styles/fonts/Inter/inter-lightitalic.woff2") format("woff2"),
    url("/src/styles/fonts/Inter/inter-lightitalic.woff") format("woff");
}

:root {
  font-family: "Inter", Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
